.banner {
  background-color: #4D00FF;
  color: white;
  margin-top: 50px;
  text-align: center;
  padding: 100px 0;
}

#chainless-bike-pic {
  height: 200px;
  filter: drop-shadow(1px 1px 1px black);
}

.small-pic {
  height: 100px;
  width: 100px;
}

#bike {
  color: #4D00FF;
  font-size: 100px;
}

.bold {
  font-weight: 900;
}

nav {
  background-color: white;
  position: fixed;
  top:0;
  z-index: 5;
  width:100%;
}

nav li {
  display: inline-block;
  padding: 0 20px;
}

nav a {
  text-decoration: none;
  color: black;
}

a.blue {
  color: blue;
}

#greets ul {
  list-style-type: none;
}

.bike-section {
   padding: 20px 50px;
}